body
{
	margin 				: 15px 0 0 15px;
	font-family 		: 'Lucida Grande', Helvetica, sans-serif;
}

img
{
        border                : 0px;
}

a
{
	color 				: rgb(0, 170, 221);
	text-decoration 	: none;
}

a:hover
{
	text-decoration 	: underline;
}

h1, h2, h3
{
	font-weight 		: normal;
	word-spacing		: 1px;
}

p, li
{
	word-spacing		: 1px;
	font-size 			: 14px;
	line-height			: 1.4em;
}

p.notice
{
  background-color: #FFFF99;
}

#wrapper
{
	margin 				: 0 auto;
	width 				: 900px;
	border 				: 0px solid black;
}

#header a
{
	color 				: #FF7400;
}

#header_links
{
	float 				: right;
	margin 				: 25px 0 0 0;
	font-size 			: 1em;
}

#logo
{
	margin 				: 50px 0 0 0;
	clear: both;
        border                          : 0px;
}

/* Main tagline */
.tag h1
{
	letter-spacing		: 1px;
	float 				: right;
	margin 				: -85px 0 0 0;
	color 				: rgb(153, 153, 153);
	font-size			: 1.3em;
}

/* Sub tagline */
.tag h2
{
	letter-spacing		: 1px;
	float 				: right;
	margin 				: -55px 0 0 0;
	color 				: rgb(102, 102, 102);
	font-size			: 1.2em;
}

.hr_line
{
	border-bottom 		: 1px solid rgb(230, 230, 230);
	margin 				: 0 auto;
}

#content
{
	padding 			: 20px 0 0 0;
	border 				: 0px solid green;
}

.left_col h3
{
	color 				: rgb(153, 153, 153);
	margin 				: 0 0 -5px 0;
}

.right_col h3
{
	margin 				: 0 0 -5px 0;
}


/*********************
	Generic Columns
*********************/
.left_col
{
	border 				: 0px solid green;
	width 				: 300;
	float 				: left;
	vertical-align 		: top;
}

.right_col
{
	border 				: 0px solid green;
	float 				: right;
	width 				: 550px;
	vertical-align 		: top;
	border 				: 0px solid green;
}

/***********************************
			Home page
***********************************/
body.home .right_col img
{
	margin 				: 0 25px 0 0;
	float 				: left;
	height 				: 143px;
	width 				: 215px;
}

/****************************************
			About me
*****************************************/

body.about_me .right_col img
{
	width 				: 215px;
	height 				: 300px;
	float 				: right;
	border 				: 1px solid black;
	margin 				: 5px;
}

body.about_me .right_col img.wide
{
	height 				: 215px;
	width 				: 300px;
}
