<div class="left_col">
	<h3>Selected publications</h3>
</div>

<div class="right_col">
	<ul>
		<li>J. Soo, O. Frieder, On Foreign Name Search, 32nd European Conference on Information Retrieval (ECIR), Milton Keynes, UK, March 2010.</li>
		<li>J. Soo, R. Cathey, O. Frieder, M. Amir, and G. Frieder, Yizkor Books: A Voice for the Silent Past, ACM Seventeenth Conference on Information and Knowledge	Management (CIKM), Napa Valley, California, October 2008.</li>
	</ul>
</div>